# 5502 Data Mining Final Project

Collaborators: John Palmer, Jamie Voros, Warren Fulton


### Midterm review
In this notebook, we pull data from our .csv files into the Jupyter Notebook environment.

We are using Kaggle's [Crude Oil](https://www.kaggle.com/awadhi123/crude-oil-stock-price) data to begin with and plan to pull in several more databases containing market data.

In [1]:
import pandas as pd

crudeOilDF = pd.read_csv (r'crudeoil.csv')
crudeOilDF.head()

         Date   Open       High        Low      Close  Adj Close   Volume
0  2000-03-22  27.65  28.250000  27.250000  27.459999  27.459999  92302.0
1  2000-03-23  27.65  27.780001  27.160000  27.309999  27.309999  79373.0
2  2000-03-24  27.85  28.150000  27.549999  27.980000  27.980000  55693.0
3  2000-03-26    NaN        NaN        NaN        NaN        NaN      NaN
4  2000-03-27  27.65  28.020000  27.410000  27.730000  27.730000  59199.0